#phone{

position: absolute;
width: 390px;
height: 844px;
left: 760px;
top: 0px;
background: rgba(0, 0, 0, 0.05);
}
#dinnerRecipe{
    /* Dinner Recipe */


position: absolute;
width: 224px;
height: 38px;
left: 27px;
top: 56px;

/* h1 */

font-family: 'Montserrat';
font-style: normal;
font-weight: 700;
font-size: 30px;
line-height: 126.16%;
/* identical to box height, or 38px */


color: #000000;
}

#group124{
/* Group 124 */


position: absolute;
width: 38.09px;
height: 37px;
left: 324px;
top: 55px;

}
#question{
/* ? */

position: absolute;
font-family: 'Inter';
/* identical to box height, or 20px */


color: #000000;
}
#iconButton{
    /* Icon Button */
    position: absolute;
    top:30px;

font-style: normal;
font-weight: 600;
font-size: 15.0045px;
line-height: 136.52%;
background: #FFFFFF;
/* light body */

border: 0.885773px solid #D7D7D7;
box-sizing: border-box;
box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.05);
border-radius: 54.9179px;

}
h2{
    /* Here is a great recipe for your dinner */


position: absolute;
width: 336px;
height: 21px;
left: 27px;
top: 99px;

font-family: 'Montserrat';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 150%;
/* identical to box height, or 21px */


/* lighten body */

color: #888888;
}

#hugeContainer{
    position: absolute;
    top:162px;
    left:790px;
    display: flex;
    flex-direction: column;
    gap:35px;
}
.container{
    position: relative;
    display: flex;
    flex-direction: column;
    gap:15px;
}


#card{
    /* SimpleCard */


position: relative;
width: 335px;
height: 45px;

}
#rectangle{
    /* Rectangle 5 */


position: absolute;
height: 45px;
left: 0%;
right: 0%;
top: 0px;

background: #FFFFFF;
border: 1px solid #DADADA;
border-radius: 7px;
}

#ingredients{
    /* Ingredients */


position: absolute;
width: 100%;
height: 18px;
left: 45px;
top: -14px;

/* h6 */

font-family: 'Montserrat';
font-style: normal;
font-weight: 700;
font-size: 13px;
line-height: 136.52%;
/* identical to box height, or 18px */


color: #000000;
}
#chain{
    /* Frame */


position: absolute;
width: 16px;
height: 19px;
left: 22px;
top: 13px;
}

#buttonContainer{
    position: relative;
width: 335px;
height: 45px;


}
#addItemBtn{
    /* SimpleCard */


position: absolute;
width: 335px;
height: 45px;
border: none;
}
#rectangle5{
    /* Rectangle 5 */


position: absolute;
height: 45px;
left: 0%;
right: 0%;
top: 0px;

background: #FFFFFF;
/* Primary */

border: 1px solid #5928B3;
border-radius: 7px;
}

#add{
    /* Note @2021-02-06 */


position: absolute;
width: 75px;
height: 18px;
left: 21px;
top: -14px;

/* h6 */

font-family: 'Montserrat';
font-style: normal;
font-weight: 700;
font-size: 13px;
line-height: 136.52%;
/* identical to box height, or 18px */


/* Primary */

color: #5928B3;
}


#group158{
    /* Group 158 */


position: absolute;
width: 314px;
height: 337px;
left: 724px;
top: -75px;
}

#group154{
    /* Group 154 */


position: absolute;
width: 314px;
height: 337px;
left: 38px;
top: 418px;
}

#rectangle2837{
    /* Rectangle 2837 */


position: absolute;
width: 314px;
height: 337px;
left: 38px;
top: 50px;

background: #FFFFFF;
border: 1px solid #ECECEC;
box-sizing: border-box;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 12px;
}

#youCanAdd{
    /* You can add any item you deem important to share your recipe with your community */


position: absolute;
width: 197px;
height: 84px;
left: 96px;
top: 200px;

font-family: 'Montserrat';
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 126.16%;
/* or 20px */

text-align: center;

color: #50555C;
}

#anyGood{
    /* Any good recipe starts with good ingredients. Preparation time is of the utmost importance */


position: absolute;
width: 200px;
height: 151px;
left: 95px;
top: 80px;

font-family: 'Montserrat';
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 126.16%;
/* or 25px */

text-align: center;

color: #50555C;

}

#emoji1{
    /* 🤓 */


position: absolute;
width: 24px;
height: 30px;
left: 72px;
top: 205px;

font-family: 'Montserrat';
font-style: normal;
font-weight: 500;
font-size: 24px;
line-height: 126.16%;
/* or 30px */

text-align: center;

color: #50555C;

}

#doneBtn{

    position: absolute;
    width: 67px;
    height: 45px;
    left: 56px;
    top: 320px;
    text-align: center;
    border: 1px solid #5928B3;
    box-sizing: border-box;
    border-radius: 60px;
    background-color: #5928b300;
}
#rectDone{
    /* Rectangle 2836 */


width: 67px;
height: 45px;

border: 1px solid #5928B3;
box-sizing: border-box;
border-radius: 60px;
}
#textDone{
    /* Done! */
text-align: right;
width: 44px;
height: 18px;

/* button */

font-family: 'Montserrat';
font-style: normal;
font-weight: 600;
font-size: 13px;
line-height: 136.52%;
/* identical to box height, or 18px */


color: #5928B3;
}

#addBtn{
    /* Rectangle 2835 */


position: absolute;
width: 153px;
height: 45px;
left: 181px;
top: 320px;

background: #5928B3;
border: 1px solid #5928B3;
box-sizing: border-box;
border-radius: 60px;
font-family: 'Montserrat';
font-style: normal;
font-weight: 600;
font-size: 13px;
line-height: 136.52%;
/* identical to box height, or 18px */


color: #FFFFFF;
}
#arrow1{
    /* Arrow 1 */


position: absolute;
width: 14.94px;
height: 0px;
left:120px;
top: 0px;
color:white;
box-sizing: border-box;
}

#tryIt{
    /* Rectangle 2837 */


position: absolute;
width: 314px;
height: 246px;
left: 798px;
top: 500px;

background: #FFFFFF;
border: 1px solid #ECECEC;
box-sizing: border-box;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 12px;
}   
#emoji2{
    /* 🤓 */


position: absolute;
width: 24px;
height: 30px;
left: 35px;
top: 19px;

font-family: 'Montserrat';
font-style: normal;
font-weight: 500;
font-size: 24px;
line-height: 126.16%;
/* or 30px */

text-align: center;

color: #50555C;
}

#cantThink{
    position: absolute;
    top:0px;
    left: 65px;
    width: 170px;
    height: 117px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 25px;
    line-height: 126.16%;
    /* or 25px */

    text-align: center;

    color: #50555C;

}

#tryBtn{
    /* Rectangle 2836 */


position: absolute;
width: 189px;
height: 45px;
left: 56.5px;
top: 160px;
/* button */

font-family: 'Montserrat';
font-style: normal;
font-weight: 600;
font-size: 13px;
line-height: 136.52%;
/* identical to box height, or 18px */

text-align: center;

color: #FFFFFF;
background: #5928B3;
border: 1px solid #5928B3;
box-sizing: border-box;
border-radius: 60px;
}