#notch{
    /* Notch */
    position: absolute;
    width: 219px;
    height: 30px;
    left: calc(50% - 219px/2);
    top: -2px;
    border-bottom-right-radius: 25px;
    border-bottom-left-radius: 25px;
    background: #000000;
}