#startupStyle{/* SPELLZ_Logo_NB 1 */


    position: absolute;
    width: 136px;
    height: 124px;
    left: 127px;
    top: 166px;}

#loginStyle{
    /* SPELLZ_Logo_NB 1 */


position: absolute;
width: 84px;
height: 76px;
left: 153px;
top: 94px;
}

#startText{
    /* Yo 👋 What’s your first name ? */


position: absolute;
width: 326px;
height: 140px;
left: 31px;
top: 259px;

/* h1 */

font-family: 'Montserrat';
font-style: bold;
font-weight: 700;
font-size: 30px;
line-height: 126.16%;
/* or 38px */

text-align: center;

color: #FFFFFF;
}
#nameForm:focus {
    outline-color: #FFFFFF;
 }

#nameInput{
        /* Rectangle 2834 */

color:white;
position: absolute;
width: 323px;
height: 45px;
left: 37px;
top: 490px;
border: 1px solid #FFFFFF;
box-sizing: border-box;
border-radius: 60px;
background: rgba(255, 0, 212, 0);
}
#nameInput::placeholder{
    
    color:rgba(255, 255, 255, 0.637);
    font-family: 'Montserrat';
    font-style: italic;
    font-weight: 300;
    font-size: 20px;
    line-height: 223.02%;
    /* identical to box height, or 45px */
    color: #FFFFFF;
    opacity: 0.5;

}

input:focus{

outline: none;
border-color: #df9eed;
box-shadow: 0 0 5px #df9eed;
}

#skip{
    position: absolute;
    width: 100px;
    height: 45px;
    left: 77px;
    top: 765px;
    border: 1px solid #FFFFFF;
box-sizing: border-box;
border-radius: 60px;

}
#start{
    /* Group 150 */


position: absolute;
width: 137px;
height: 45px;
left: 212px;
top: 765px;
background: #5928B3;
border: 1px solid #5928B3;
box-sizing: border-box;
border-radius: 60px;
}

#skipBtn{
    /* Skip */


position: absolute;
width: 34.48px;
height: 18px;
left: 105.18px;
top: 777px;

/* button */

font-family: 'Montserrat';
font-style: normal;
font-weight: 700;
font-size: 13px;
line-height: 136.52%;
/* identical to box height, or 18px */


color: #FFFFFF;
background-color: #ffffff00;
border-color: #ffffff00;
}

#startBtn{
    position: absolute;
width: 76px;
height: 18px;
left: 233px;
top: 777px;
opacity: 50%;

/* button */

font-family: 'Montserrat';
font-style: normal;
font-weight: 600;
font-size: 13px;
line-height: 136.52%;
/* identical to box height, or 18px */


color: #FFFFFF;
background-color: #ffffff00;
border-color: #ffffff00;
}


#arrow{
    /* Arrow 1 */

    position: absolute;
    width: 14.94px;
    height: 0px;
    left: 315.67px;
    top: 762px;
    color: white;
    
}